<div>
  <form class="list" (ngSubmit)="onSubmit()" [formGroup]="dynamicFormBuilder" cdkDropList (cdkDropListDropped)="drop($event)">

    <div *ngFor="let question of questions" class="form-row box" cdkDrag>
      <app-dynamic-form class="dynamic-form" [question]="question" [form]="dynamicFormBuilder">
      </app-dynamic-form>
    </div>

    <div class="form-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="!dynamicFormBuilder.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>