.dashboard{
  
}
.grid-container {
  margin: 20px;
  
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  /* text-align: center; */
}

.select-templates {
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

}

.saved-templates {
  background: #ff0084;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #33001b, #ff0084);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #33001b, #ff0084);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
