<div class="home-body">
  <div class="content">
    <h1>
      {{homePageTitle}}
    </h1>
    <p>
      This App allows you to edit resume online in your browser and save locally to your computer browser storage so next time you visit back
      it will load the resume and you good to edit instantly.
    </p>
    <p>
      You can also download
      the copy to store on your computer Or you can save it online just sign-up if not registered or sign-in if already
      logged.
    </p>
    <hr class="invisible">
    <p>
      <mat-chip-list>
        <mat-chip color="accent" selected>NOTE: </mat-chip>
      </mat-chip-list>
      We only collect usage analytics to make app better, no hidden policies
    </p>
    <hr class="invisible">
    <p>
        Let's start <button mat-fab color="primary" routerLink="/dashboard">&rarr;</button>
    </p>
  </div>
</div>